@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;1,100&family=Yanone+Kaffeesatz:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");

body {
  margin: 0%;
}

.w3-container,
.w3-panel {
  padding: 0.01em 20px;
}
div {
  border-radius: 5px;
}

p {
  border-right: 1px solid rgb(231, 225, 225);
  padding: 4px 17px 0px 27px;
}
.fstyle {
  margin-left: 40;
  font-family: "Bebas Neue", cursive;
  font-variant: contextual;
  font-size: 30px;
  color: black;
}
.bio {
  display: flex;

  font-family: system-ui;

  padding-left: 19px;
  margin-left: -50;
}

h1 {
  display: block;
  font-size: 3em;
  margin-block: 0.67em;
  margin-inline: 51px 0px;
  font-weight: bold;
  font-family: sans-serif;
  color: rgb(119, 111, 111);
  margin-inline: 47px 0px;

  /* border-bottom: #5e1313; */
}

.skill {
  font-size: revert;
  font-family: "Bebas Neue", cursive;
  color: slategray;
}

.colour {
  background-color: rgb(238, 234, 234);
}

.address {
  display: block;
  padding: 0px 36px 15px 46px;
  font-weight: normal;
  padding: 0px 0px 20px 65px;
  margin-left: -50;
}
.downbio {
  margin: 13px 2px;
  display: flex;
  align-items: center;
  padding: 1px 10px 0px 44px;
  font-weight: bold;
  border-right: 1px solid rgb(192, 186, 186);
  min-height: 46px;
}
.subside-div {
  margin: 13px 2px;
  display: flex;
  align-items: center;
  padding: 1px 10px 0px 12px;
  font-weight: normal;
  border-right: 0px solid;
}
.h4 {
  display: block;
  /* unicode-bidi: isolate; */
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: 2em;
  border-style: inset;
  border-width: 3px;
  font-size: 20px;
}

#header {
  height: 40px;
  width: 100%;
  background-color: #ffcccc;
  position: fixed;
  z-index: 1;
}

#title {
  margin-left: 3%;
}

.image {
  width: 170px;
  height: 170px;
  border-radius: 100pc;
  margin-left: 50;
  margin-top: 50;
}
#footer {
  height: 50px;
  width: 100%;
  background-color: #ffcccc;
  clear: both;
  position: relative;
}
.edu {
  font-family: sans-serif;
  padding: 2px 0px 0px 14px;
}

.left {
  height: 1000px;
  width: 45px;
  background-color: #e0eeee;
  float: left;
  position: fixed;
}

.line {
  border-bottom: 1px solid grey;
}

.right {
  height: 1000px;
  width: 45px;
  background-color: #e0eeee;
  float: right;
  position: inherit;
}

.effect-line {
  margin: 0 0;
}

.stuff {
  display: inline-block;
  margin-top: 6px;
  margin-left: 55px;
  width: 75%;
  height: 1000px;
}

.head {
  font-size: 16px;

  font-family: system-ui;
}

#name {
  font-family: Sacramento;
  float: right;
  margin-top: 10px;
  margin-right: 4%;
}

a {
  color: black;
  text-decoration: none;
}

li::marker {
  color: rgb(255 255 255);
}
.blue-link {
  color: rgb(60 79 90);
}

.description {
  display: block;
  margin-block-start: -0.67em;
  margin-block-end: 1.33em;
  margin-inline-start: 38px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.underline {
  display: block;
  /* unicode-bidi: isolate; */
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: 2em;
  border-style: inset;
  border-width: 1px;
  font-size: 20px;
}

.underline-effect {
  display: block;
  /* unicode-bidi: isolate; */
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: 0em;
  border-style: inset;
  border-width: 1px;
  font-size: 20px;
}
.d-block {
  padding-left: 19px;
}
.digi-skills {
  display: flex;

  font-family: system-ui;

  margin: 0;
  padding: 0px 0px 0px 13px;
}

.page-title {
  border-bottom: 1px solid grey;
  font-family: "Rubik", sans-serif;
}

.project-disc {
  padding: 0px 0px 0 37px;
}

.pump {
  padding: 0 0 0 34px;
}

.pic {
  padding: 28px 0 0px 30px;
}

@media only screen and (max-width: 991px) {
  .digi-skills {
    display: block;
  }
  .bio {
    display: block;
    display: block;
    text-align: center;
  }
  #name {
    display: block;
    float: none;
  }
  .downbio {
    justify-content: center;
  }
}
.left,
.right {
  display: none;
}
.stuff {
  width: 100%;
  margin-left: 10px;
}

.fa-envelope:before {
  content: "\f0e0";
  margin: 2px;
  color: black;
}
.fa-linkedin:before {
  content: "\f08c";
  color: cornflowerblue;
}
.fa-male:before {
  content: "\f183";
}

.fa,
.fas {
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;

  margin: 0 3px 1px 0px;
}
.fa-globe-asia:before {
  content: "\f57e";
  color: darkblue;
}

.far {
  font-weight: 400;
  margin: 0 4px 0 0;
}

.fa,
.fas {
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;

  margin: 1px 12px 0px -2px;
}

.fa-angle-double-right:before {
  content: "\f101";
  color: black;
  margin: 0 5px 0 0;
}
.fa-laptop-code:before {
  content: "\f5fc";
  font-size: larger;
  color: #ad1ef3;
}
.fab {
  font-family: "Font Awesome 5 Brands";
  color: slategray;
}
.fa-user-graduate:before {
  content: "\f501";
  color: slategray;
  font-size: -webkit-xxx-large;
}
.edu-style {
  margin-left: 3px;
  font-family: "Bebas Neue", cursive;
  font-variant: contextual;
  font-size: 30px;
  color: black;
}

.fa-university:before {
  content: "\f19c";
  font-size: xx-large;
}
.fa-school:before {
  content: "\f549";
  font-size: x-large;
}

.work {
  font-family: "Bebas Neue", cursive;
  font-size: 30;
}
.fa-briefcase:before {
  content: "\f0b1";
  color: tomato;
}

.project {
  border-right: 1px solid rgb(231, 225, 225);
  padding: 4px 17px 0px 38px;
}
.fa-university:before {
  content: "\f19c";
  font-size: x-large;
}

.exfont {
  font-family: "Bebas Neue", cursive;
  font-size: xx-large;
}

.col {
  font-family: "Josefin Sans", sans-serif;
}

.icon-align {
  margin-right: 5px;
}

.project-headline {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
}

.bg-colour {
  background-color: cornflowerblue;
}
